/* HEADER STYLE START */
h1 {
  font-family: 'Great Vibes', cursive;
}

#header {
  height: 80px;
  background: linear-gradient(to right, #0000ff, #ffffff);
  text-align: center;
}
/* HEADER STYLE END   */

/* Smoothens background color change */
body {
  transition: background-color 0.5s ease;
}

/* Styling to widen buttons */
.btn {
  width:100%
}

/* FORECAST CARD STYLING START */
.weather-forecast{
  display: flex;
  flex-wrap: wrap;
}

.forecast-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  width: 100%;
}

.forecast-current {
  width: 97%;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
  box-sizing: border-box;
  font-size:112%;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.forecast-card {
    display: inline-block;
    width: 19%;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 2px 8px 2px;
    box-sizing: border-box;
    background-color: #bbb;
    color: #fff;
    transition: background-color 0.3s;
    font-family: 'Lato', sans-serif;
  }
  
    .forecast-card:hover {
      background-color: #999;
  }

    .forecast-card p {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
  }


  #high {
    color: red;
  }
  /* Text color styling for High and Low Temp */
  #low {
    color: blue;
  }

  /* FORECAST CARD STYLING END   */

  /* STYLING FOR SMALL WIDTH DISPLAY */
  @media (max-width: 767px) {

    .forecast-current {
      width: 100%;
    }

     .forecast-card { 
      width: 49%;
    }

  }